/* --------------------------
 * global
*/

* {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}


body {
  overflow:hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1062%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1063)'%3e%3c/rect%3e%3cpath d='M493 676L176 993' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1898 564L1434 1028' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M291 951L-492 1734' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1883 690L2375 198' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1774 161L2226 -291' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1020 777L390 1407' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M740 384L390 734' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1877 673L2300 250' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M224 714L-447 1385' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M881 821L1324 378' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M301 51L1044 -692' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M422 903L-354 1679' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1148 900L703 1345' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M834 996L267 1563' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1476 287L856 907' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1132 44L802 374' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1127 952L1688 391' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1576 557L892 1241' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M974 229L1478 -275' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1516 851L1833 534' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M688 190L999 -121' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1639 893L2330 202' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M43 601L-667 1311' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1408 567L823 1152' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M381 851L-60 1292' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1090 851L1670 271' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M358 430L73 715' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M93 818L-699 1610' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M665 391L1428 -372' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1106 501L1610 -3' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M290 218L1052 -544' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M623 346L1274 -305' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1487 378L2242 -377' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1617 740L2128 229' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M613 916L1317 212' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1517 45L1147 415' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1263 1066L1560 769' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1355 292L950 697' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M416 808L1066 158' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1275 956L1761 470' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1549 421L746 1224' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1332 17L1036 313' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1631 905L1183 1353' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1592 78L2340 -670' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1650 960L2389 221' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M640 41L953 -272' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1865 1002L2372 495' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M382 437L850 -31' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1335 766L1611 490' stroke-width='6' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M775 131L1265 -359' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M596 671L54 1213' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M661 598L961 298' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M51 677L641 87' stroke-width='10' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M230 772L619 383' stroke-width='8' stroke='url(%23SvgjsLinearGradient1064)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1376 861L1738 499' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M785 288L344 729' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1062'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1063'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1065'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size:auto;
  background-repeat:no-repeat;
  font-size: 18px;
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

a:link, a:active, a:hover { text-decoration: none; }

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}


/* --------------------------
 * colors
*/
.amber        { color: rgb(255, 193, 7); }
.aqua         { color: rgb(0, 255, 255); }
.black        { color: rgb(0, 0, 0); }
.blue         { color: rgb(33, 150, 243); }
.blue-grey    { color: rgb(96, 125, 139); }
.brown        { color: rgb(121, 85, 72); }
.cyan         { color: rgb(0, 188, 212); }
.dark-grey    { color: rgb(97, 97, 97); }
.deep-orange  { color: rgb(255, 87, 34); }
.deep-purple  { color: rgb(103, 58, 183); }
.green        { color: rgb(76, 175, 80); }
.grey         { color: rgb(158, 158, 158); }
.indigo       { color: rgb(63, 81, 181); }
.khaki        { color: rgb(240, 230, 140); }
.light-blue   { color: rgb(135, 206, 235); }
.light-green  { color: rgb(139, 195, 74); }
.light-grey   { color: rgb(241, 241, 241); }
.lime         { color: rgb(205, 220, 57); }
.orange       { color: rgb(255, 152, 0); }
.pale-blue    { color: rgb(221, 255, 255); }
.pale-green   { color: rgb(221, 255, 221); }
.pale-red     { color: rgb(255, 221, 221); }
.pale-yellow  { color: rgb(255, 255, 204); }
.pink         { color: rgb(233, 30, 99); }
.purple       { color: rgb(156, 39, 176); }
.red          { color: rgb(244, 67, 54); }
.sand         { color: rgb(253, 245, 230); }
.teal         { color: rgb(0, 150, 136); }
.white        { color: rgb(255, 255, 255); }
.yellow       { color: rgb(255, 235, 59); }


/* --------------------------
 * efects
*/
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.shadow { box-shadow: 10px 20px 50px 10px rgb(0, 0, 0); }


/* --------------------------
 * header
*/
header {
  backdrop-filter: blur(.2rem);
  background-color: rgba(0,0,0, 0.5);
  font-size: 5rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2rem;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0.1rem 0;
}

.nav-left { margin-right: auto; }
.nav-left ul li { padding: 0 0.3rem; }
.nav-right ul li { padding: 0 0.6rem; }


/* --------------------------
 * search
*/


/* --------------------------
 * cards
*/
.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 2rem 2rem 2rem;
  place-items: top;
}

.card {
  backdrop-filter: opacity(50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: grid;
  padding: 1rem;
}

.card:hover h3 i {
  color: rgb(0, 255, 0);
  transition: all .4s linear;
}

.card h3 {
  text-transform: lowercase;
  text-align: center;
  margin: 0 0 0.5rem 0;
}

.card ul {
  list-style: none;
  column-gap: 0.3rem;
  columns: 4 100px;

}

.card ul li {
  margin: 0.2rem;
  width: max-content;
  height: max-content;
}

.card ul li * {
  color: rgb(200, 200, 200);
  transition: all .3s linear;
}

.card ul li:hover * {
  color: #00ff15;
}

.card ul li::first-letter,
.card ul li i {
  color: #ffffff;
  font-weight: bold;
}
